<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- * add icon -->
    <link rel="shortcut icon" href="img/kitty.png" type="image/x-icon" />

    <!-- * css local -->
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <!-- * opsi untuk input css -->
    <!-- <link rel="stylesheet" href="css/index.css" /> -->

    <title>SIBKM</title>
  </head>
  <body>
    <h1>Welcome <span th:text="${name}"></span>...</h1>
  </body>
</html>
